<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem id="notice_menu_root"
        name="Avisos"
        web_icon="eebc_notices,static/description/avisos_icon.png"
        sequence="30">  
    </menuitem>

    <menuitem
           action="eebc_notices.action_notices" id="menu_noticess"
           parent="notice_menu_root" sequence="1"/>

</odoo>
